In [1]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [2]:
# csv to dataframe
df_buses_1=pd.read_csv(r"C:\Users\GOD\Desktop\praveen/df_buses_1.csv")
df_buses_2=pd.read_csv(r"C:\Users\GOD\Desktop\praveen/df_buses_2.csv")
df_buses_3=pd.read_csv(r"C:\Users\GOD\Desktop\praveen/df_buses_3.csv")
df_buses_4=pd.read_csv(r"C:\Users\GOD\Desktop\praveen/df_buses_4.csv")
df_buses_5=pd.read_csv(r"C:\Users\GOD\Desktop\praveen/df_buses_R.csv")
df_buses_6=pd.read_csv(r"C:\Users\GOD\Desktop\praveen/df_buses_SB.csv")
df_buses_7=pd.read_csv(r"C:\Users\GOD\Desktop\praveen/df_buses_H.csv")
df_buses_8=pd.read_csv(r"C:\Users\GOD\Desktop\praveen/df_buses_AS.csv")
df_buses_9=pd.read_csv(r"C:\Users\GOD\Desktop\praveen/df_buses_8.csv")
df_buses_10=pd.read_csv(r"C:\Users\GOD\Desktop\praveen/df_buses_10.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 52,SWIFT-GARUDA A/C SEATER BUS,12:00,20:20,08h 20m,INR 945,22 Seats available,3.7\n129,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 1210,SWIFT-HYBRID NON AC SEATER CUM SLEEPER,12:55,21:05,08h 10m,INR 740,11 Seats available,3.8\n20,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 1378,AC MULTI AXLE,13:46,21:25,07h 39m,INR 1099,25 Seats available,2.8\n31,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 129,SWIFT-GARUDA A/C SEATER BUS,14:15,23:05,08h 50m,INR 945,33 Seats available,4.2\n83,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 235,Swift Deluxe Non AC Air Bus (2+2),15:00,01:00,10h 00m,INR 801,17 Seats available,3.9\n15,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
2325,Droupadi Paribahan,A/C Seater (2+3),14:10,16:58,02h 48m,INR 160,61 Seats available,2.9\n30,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
2326,KRISHNAKALI,A/C Seater (2+3),14:45,17:30,02h 45m,INR 165,59 Seats available,2.4\n53,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
2327,Droupadi Bus Service,Non AC Seater (2+3),16:20,19:10,02h 50m,INR 121,54 Seats available,2.2\n21,https://www.redbus.in/bus-tickets/kolkata-to-h...,Kolkata to Haldia
2328,WBTC (CTC) Habra-Midnapur - 194|14:45,Non AC Seater (2+3),14:45,17:40,02h 55m,INR 111,41 Seats available,3.1,https://www.redbus.in/bus-tickets/midnapore-to...,Midnapore to Kolkata Airport
2329,WBTC (CTC) Habra-Midnapur - 194|15:40,Non AC Seater (2+3),15:40,18:40,03h 00m,INR 111,36 Seats available,2.8\n24,https://www.redbus.in/bus-tickets/midnapore-to...,Midnapore to Kolkata Airport

Data cleaning

In [5]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2330 entries, 0 to 2329
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2307 non-null   object
 1   Bus_type         2305 non-null   object
 2   Start_time       2307 non-null   object
 3   End_time         2307 non-null   object
 4   Total_duration   2307 non-null   object
 5   Price            2306 non-null   object
 6   Seats_Available  2305 non-null   object
 7   Ratings          2307 non-null   object
 8   Route_link       2330 non-null   object
 9   Route_name       2330 non-null   object
dtypes: object(10)
memory usage: 182.2+ KB

In [7]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0        945.0
1        740.0
2       1099.0
3        945.0
4        801.0
         ...
2325     160.0
2326     165.0
2327     121.0
2328     111.0
2329     111.0
Name: Price, Length: 2330, dtype: float64

In [9]:
#convert Ratings to numeric
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

C:\Users\GOD\AppData\Local\Temp\ipykernel_4228\709375803.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Ratings"].fillna(0,inplace=True)

In [11]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2330 entries, 0 to 2329
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2307 non-null   object
 1   Bus_type         2305 non-null   object
 2   Start_time       2307 non-null   object
 3   End_time         2307 non-null   object
 4   Total_duration   2307 non-null   object
 5   Price            2306 non-null   float64
 6   Seats_Available  2305 non-null   object
 7   Ratings          2330 non-null   float64
 8   Route_link       2330 non-null   object
 9   Route_name       2330 non-null   object
dtypes: float64(2), object(8)
memory usage: 182.2+ KB

In [13]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [15]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [35]:
# change dataframe to csv
path=r"C:\Users\GOD\Desktop\praveen/Final_busdetails_df.csv"
Final_df.to_csv(path,index=False)

Create a mysql database

In [19]:
#sql connection
conn=mysql.connector.connect(host="localhost", user="root", password="",database="RED_BUS_DETAILS")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

In [21]:
# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [23]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

Values inserted successfully